<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mliuframework.spring.orm.ibatis.mapper.CustomerAddressRelationMapper">

    <resultMap id="customerAddressRelationBaseResultMap" type="CustomerAddressRelation">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="customer_id" property="customerId" jdbcType="BIGINT"/>
        <result column="address_id" property="addressId" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="BOOLEAN"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="customer_address_relation__Base_Column_List">
        id, customer_id, address_id, status, create_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="customerAddressRelationBaseResultMap" parameterType="Long">
        select
        <include refid="customer_address_relation__Base_Column_List"/>
        from tb_customer_address_relation
        where id = #{id, jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="customerAddressRelationBaseResultMap">
        select
        <include refid="customer_address_relation__Base_Column_List"/>
        from tb_customer_address_relation
    </select>

    <insert id="insert" parameterType="CustomerAddressRelation" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
        insert into tb_customer_address_relation (id, customer_id, address_id, status, create_time)
        values (#{id, jdbcType=BIGINT}, #{customerId, jdbcType=BIGINT},
                #{addressId, jdbcType=BIGINT}, #{status, jdbcType=BOOLEAN},
                #{createTime, jdbcType=TIMESTAMP})
        ]]>
    </insert>

    <insert id="insertSelective" parameterType="CustomerAddressRelation" useGeneratedKeys="true" keyProperty="id">
        insert into tb_customer_address_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="customerId != null">
                customer_id,
            </if>
            <if test="addressId != null">
                address_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id, jdbcType=BIGINT},
            </if>
            <if test="customerId != null">
                #{customerId, jdbcType=BIGINT},
            </if>
            <if test="addressId != null">
                #{addressId, jdbcType=BIGINT},
            </if>
            <if test="status != null">
                #{status, jdbcType=BOOLEAN},
            </if>
            <if test="createTime != null">
                #{createTime, jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="Address">
        update tb_address
        <set>
            <if test="customerId != null">
                customer_id = #{customerId,jdbcType=BIGINT},
            </if>
            <if test="addressId != null">
                address_id = #{addressId,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=BOOLEAN},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>