<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mliuframework.spring.orm.ibatis.mapper.UserMapper">

    <resultMap id="userBaseResultMap" type="User">
        <id column="uid" property="id" jdbcType="INTEGER"/>
        <result column="uname" property="name" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="profile" property="profile" javaType="_byte[]" jdbcType="BLOB"/>
    </resultMap>

    <sql id="user_Base_Column_List">
        uid, uname, create_time, profile
    </sql>

    <select id="selectByPrimaryKey" resultMap="userBaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="user_Base_Column_List"/>
        from user
        where uid = #{id, jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="userBaseResultMap">
        select
        <include refid="user_Base_Column_List"/>
        from user
    </select>

    <select id="selectUserListInUser" resultMap="userBaseResultMap" parameterType="java.util.List">
        select
        <include refid="user_Base_Column_List"/>
        from user
        WHERE uid IN
        <foreach item="user" index="index" collection="userList" open="(" separator="," close=")">
            #{user.id}
        </foreach>
    </select>


    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
        insert into user (uid, uname, create_time, profile)
        values (#{id, jdbcType=INTEGER}, #{name, jdbcType=VARCHAR},
                #{createTime, jdbcType=TIMESTAMP}, #{profile, jdbcType=BLOB})
        ]]>
    </insert>

    <insert id="insertSelective" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                uid,
            </if>
            <if test="name != null">
                uname,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="profile != null">
                profile,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id, jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name, jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime, jdbcType=TIMESTAMP},
            </if>
            <if test="profile != null">
                #{profile, jdbcType=BLOB},
            </if>
        </trim>
    </insert>

</mapper>