<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="org.mliuframework.spring.orm.ibatis.bo.Customer" alias="Customer" />
        <typeAlias type="org.mliuframework.spring.orm.ibatis.bo.Address" alias="Address" />
    </typeAliases>

    <mappers>
        <mapper resource="mapper/CustomerMapper.xml"/>
        <mapper resource="mapper/AddressMapper.xml"/>
    </mappers>
</configuration>