<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.michaelliu.spring.mybatis.mapper.TransactionMapper">

    <resultMap id="BaseResultMap" type="TransactionVo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="account_id" property="accountId" jdbcType="BIGINT"/>
        <result column="amount" property="amount" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" javaType="String" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, account_id, amount, create_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_transaction_log
        WHERE id = #{id, jdbcType=BIGINT}
    </select>

    <select id="selectByAccountId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_transaction_log
        WHERE account_id = #{accountId, jdbcType=BIGINT}
    </select>

    <select id="selectByIdList" resultMap="BaseResultMap" parameterType="java.util.List">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_transaction_log
        WHERE id IN
        <foreach item="id" index="index" collection="idList" open="(" separator="," close=")">
            #{id, jdbcType=BIGINT}
        </foreach>
    </select>

    <insert id="insertSelective" parameterType="Transaction" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_transaction_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="accountId != null">
                account_id,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id, jdbcType=BIGINT},
            </if>
            <if test="accountId != null">
                #{accountId, jdbcType=BIGINT},
            </if>
            <if test="balance != null">
                #{amount, jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime, jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="Transaction">
        UPDATE tb_transaction_log
        <set>
            <if test="accountId != null">
                account_id = #{accountId, jdbcType=BIGINT},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

</mapper>